streamlit>=1.32.0
langchain>=0.1.13
langchain-groq
langchain-community>=0.0.29
tavily-python>=0.3.3
python-dotenv>=1.0.1
requests>=2.31.0

fpdf2
folium
streamlit-folium

# Advanced RAG dependencies
qdrant-client
rank_bm25
cohere
sentence-transformers
langchain-openai
langchain-cohere

# Auth and Persistence
bcrypt
langgraph-checkpoint-sqlite

# Tracing and Evaluation
langsmith
